[submodule "Shaders"]
	path = source/Shaders
	url = git@github.com:Maks-Suvajev/Shaders.git
	branch = master_integration
[submodule "Dependencies"]
	path = Dependencies
	url = git@github.com:Maks-Suvajev/Dependencies.git
	branch = master_integration
[submodule "Assets"]
	path = Assets
	url = git@github.com:Maks-Suvajev/Assets.git
[submodule "Core"]
	path = Core
	url = git@github.com:Maks-Suvajev/Core.git
[submodule "ECS"]
	path = ECS
	url = git@github.com:Maks-Suvajev/ECS.git
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:Maks-Suvajev/Frontend.git
[submodule "ResourceManagers"]
	path = ResourceManagers
	url = git@github.com:Maks-Suvajev/ResourceManagers.git
